<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e58ef6">  <td>20/08/26 20:20:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.config()[pri:0, instance:testLeaveTestcases.LeaveEntitle@2898ac89]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2123444693</td>   <td></td> </tr>
<tr bgcolor="7ffa75">  <td>20/08/26 20:20:13</td>   <td>-10737</td> <td title="&gt;&gt;BaseCode.initialization()[pri:0, instance:testLeaveTestcases.LeaveEntitle@2898ac89]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2123444693</td>   <td></td> </tr>
</table>
