<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaveEntitle.addEntitleTest()[pri:2, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">addEntitleTest</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:20</td>   <td>8964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaveEntitle.addLeave()[pri:3, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">addLeave</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:05</td>   <td>-6470</td> <td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.config()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="7ffa75">  <td>20/08/28 16:25:56</td>   <td>-15302</td> <td title="&gt;&gt;BaseCode.initialization()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:26</td>   <td>14698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaveEntitle.leaveCancel()[pri:4, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">leaveCancel</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:05</td>   <td>-6436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeaveEntitle.login()[pri:1, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">login</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:05</td>   <td>-6460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.setup()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:11</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.setup()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:20</td>   <td>8963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.setup()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="e58ef6">  <td>20/08/28 16:26:26</td>   <td>14697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LeaveEntitle.setup()[pri:0, instance:testLeaveTestcases.LeaveEntitle@60015ef5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1288235781</td>   <td></td> </tr>
</table>
